@{
    ViewBag.Title = "Página de inicio OMS TouresBalón";
}

<br />
<br />
<br />
<h2>Servicios disponibles</h2>
<p>A continuación, se encuentran los sevicios disponibles para administración del aplicativo OMS de TouresBalón</p>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            @Html.ActionLink("Administración de productos", "Index", "Product", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Administración de campañas", "Index", "Campaign", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Administración de órdenes", "Index", "Orders", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action" })
            @Html.ActionLink("Administración de clientes", "Index", "Orders", routeValues: null, htmlAttributes: new { @class = "list-group-item list-group-item-action" })
        </div>
    </div>
</div>