@{
    ViewBag.Title = "Página de inicio OMS TouresBalón";
}



<div class="row">
    <div class="col-md-4">
        <h2>Servicios disponibles</h2>
        <p>

        </p>
        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Administración de productos", "Index", "Product", routeValues: null, htmlAttributes: new { @class="btn btn-default"})
            </li>
        </ul>
    </div>
</div>