<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="ProductGetServiceRoute" value="http://localhost/OMSWebApi/WSProduct/Product/GetProducts" />
    <add key="AuthenticationServiceRoute" value="http://localhost/OMSWebApi/WSLogin/login/authenticate" />

    

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>