@model BusinessObjects.Product
@*<link href="~/Content/Custom/ValidateForm.css" rel="stylesheet" />*@
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" id="closeFormEditProduct" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3>Edición de productos</h3>
        </div>
        @using (Ajax.BeginForm("EditProduct", null, new AjaxOptions { HttpMethod = "Post", OnSuccess = "OnSuccess", OnFailure = "OnFailure" }, new { @class = "form-horizontal", id = "formEditProduct" }))
        {
            <div class="modal-body">
                <div class="form-horizontal">
                    
        }
        <div class="modal-footer">
            <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
        </div>
    </div>
</div>

@*<script src="~/Scripts/DatosGenerales/_EditDirectivo.js"></script>*@
@Scripts.Render("~/bundles/_EditProduct");
